.actuel {
  height: 90vh;
  background-image: url("/static/img/pluie.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
overflow: hidden;
}

.overlay {
  backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.3); /* blanc flou */
  z-index: 0;
}
.div_input{
    position: relative;
    top: 15%;
}

@keyframes zoomInOut {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.15); }
  100% { transform: scale(1); }
}

.sun-icon {
  animation: zoomInOut 2.5s ease-in-out infinite;
  transition: transform 0.3s ease;
}
.semaine-meteo {
  background-color: #c6c8e7; /* bleu clair doux */
  border-radius: 12px;
  padding: 2rem;
}
.semaine-meteo .card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.semaine-meteo .card:hover {
  transform: translateY(-4px);
}

.semaine-meteo .card-body h6 {
  color: #0e0d0d; /* orange doux pour le jour */
  font-weight: 600;
}

.semaine-meteo .card-body p {
  color: #6c757d; /* gris doux pour les descriptions */
}

.semaine-meteo .card-body p.fw-bold {
  color: #e76f51; /* température en orange doux */
}
